<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Hau Nguyen">
  <meta name="keywords" content="au theme template">
  <title>Dashboard</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" media="all">
  <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" media="all">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="/css/burger.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/mdi-font/css/material-design-iconic-font.min.css">
</head>

<body>
  <div class="b-nav">
    <li><a class="b-link" href="/">Home</a></li>
    <li><a class="b-link" href="#">About</a></li>
    <li><a class="b-link b-link--active" href="/explorer">Explorer</a></li>
    <li><a class="b-link" href="#">Contact</a></li>
  </div>
  <div class="b-container">
    <div class="b-menu"><div class="b-bun b-bun--top"></div><div class="b-bun b-bun--mid"></div><div class="b-bun b-bun--bottom"></div></div>
    <a href="/" class="b-brand"><i class="zmdi zmdi-eye zmdi-hc-2x"></i><strong>&nbsp;&nbsp;Revenue tracer&nbsp;&nbsp;</strong></a>
  </div>
  <script src="/js/burger.min.js"></script>
  <br><br><br><br><br>

<div class="container-fluid">
<div class="row">
  <div class="col-md-6 col-sm-12">
    <hr><br>
    <h5>Recent Blocks</h5>
    <div id="block-info"  ></div>
    <br>
  </div>
  <div class="col-md-6 col-sm-12">
    <hr><br>
    <h5>Block Overview</h5>
    <div id="block-detail"></div>
    <hr><br>
    <h5>Transaction Overview</h5>
    <div id="transaction-detail"></div>
    <br>
  </div>
</div>
</div>

<!-- Modal -->
<div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Receipt</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <object id="pdf" frame-resize data="/ipfs/Qmd1TxZLRRiGMiSyUWHFWDe6SGUq4X8zaxH9VKWm1zZ1Do" type="application/pdf" width="100%" height="900px"></object>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
var viewReceipt = null;
var blocks = [];

function hex_to_ascii(str1) {
  var hex  = str1.toString().replace('0x','');
  var str = '';
  for (var n = 0; n < hex.length; n += 2) {
    str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));
  }
  return str;
}

function transactionInfo(block, index) {
  $.getJSON('/json-transaction?block=' + block + '&index=' + index, function(data) {
    var info  = document.getElementById("transaction-detail");
    var name  = hex_to_ascii(data.input);
    var ipfs  = "http://debian.tric.kr:9901/ipfs/" + name; 
    html = '<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">';
    html += '<tr><td>Block Height</td><td>' + data.blockNumber + '</td></tr>';
    html += '<tr><td>Block Hash</td><td>' + data.blockHash + '</td></tr>';
    html += '<tr><td>Index</td><td>' + data.transactionIndex + '</td></tr>';
    html += '<tr><td>From</td><td>' + data.from + '</td></tr>';
    html += '<tr><td>To</td><td>' + data.to + '</td></tr>';
    html += '<tr><td>Hash</td><td>' + data.hash + '</td></tr>';
    html += '<tr><td>Gas</td><td>' + data.gas + '</td></tr>';
    html += '<tr><td>Gas Price</td><td>' + data.gasPrice + '</td></tr>';
    html += '<tr><td>Input</td><td><a href="javascript:viewReceipt(\''+name+'\');">' + name + '</a></td></tr>';
    html += '<tr><td>Value</td><td>' + data.value + '</td></tr>';
    html += '<tr><td>R</td><td>' + data.r + '</td></tr>';
    html += '<tr><td>S</td><td>' + data.s + '</td></tr>';
    html += '<tr><td>V</td><td>' + data.v + '</td></tr>';
    html += '<tr><td>Nonce</td><td>' + data.nonce + '</td></tr>';
    html += '</table>';
    info.innerHTML = html;
  });
}

function blockInfo (number) {
  blocks.forEach(t => {
      html += '<td>' + moment.unix(t.timestamp).format("MM/DD HH:mm:ss") + '</td>';
    if(t.number == number) {
      var info  = document.getElementById("block-detail");
      html = '<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">';
      html += '<tr><td>Block Height</td><td>' + t.number + '</td></tr>';
      html += '<tr><td>Timestamp</td><td>' + moment.unix(t.timestamp).format("MM/DD HH:mm:ss") + ' (' + t.timestamp +') ' + '</td></tr>';
      //html += '<tr><td>Transactions</td><td>' + t.transactions + '</td></tr>';
      html += '<tr><td>Transactions</td><td>';
      var index = 0;
      t.transactions.forEach(x => {
        html += '<a href="javascript:transactionInfo(' + t.number + ',' + index +');">' + x + '</a> ';
        index += 1;
      });
      html += '</td></tr>';
      html += '<tr><td>Mined by</td><td>' + t.miner + '</td></tr>';
      html += '<tr><td>Difficulty</td><td>' + t.difficulty + '</td></tr>';
      html += '<tr><td>Total Difficulty</td><td>' + t.totalDifficulty + '</td></tr>';
      html += '<tr><td>Size</td><td>' + t.size + '</td></tr>';
      html += '<tr><td>Gas Used</td><td>' + t.gasUsed + '</td></tr>';
      html += '<tr><td>Gas Limit</td><td>' + t.gasLimit + '</td></tr>';
      html += '<tr><td>Extra Data</td><td>' + t.extraData + '</td></tr>';
      html += '<tr><td>Hash</td><td>' + t.hash + '</td></tr>';
      html += '<tr><td>Parent Hash</td><td>' + t.parentHash + '</td></tr>';
      html += '<tr><td>Sha3Uncles</td><td>' + t.sha3Uncles + '</td></tr>';
      html += '<tr><td>StateRoot</td><td>' + t.stateRoot + '</td></tr>';
      html += '<tr><td>Nonce</td><td>' + t.nonce + '</td></tr>';
      html += '</table>';
      info.innerHTML = html;
      return;
    }
  });
}
</script>
<script type="text/javascript">
jQuery(document).ready(function() {
  var block = <%= block %>;
  var index = <%= index %>;

  viewReceipt = function (file) {
    console.log('call viewReceipt');
    $("#exampleModal").on("shown.bs.modal", function () {
       $(this).find('.modal-body').css({
              width:'auto', //probably not needed
              height:'auto', //probably not needed
              'max-height':'100%'
       });
       $(this).find("#pdf").attr("data", '/ipfs/' + file);
    }).modal('show');
  }

  function getRecentBlockTbl () {
    $.getJSON("/json-blocks", function(data) {
      console.log(data);
      blocks = data;
      var info  = document.getElementById("block-info");
      var w = $(document).width();

      html = '<table id="block-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">';
      html += '<thead>';
      html += '<tr>';
      html += '<th>#BLK</th>';
      html += '<th>#TX</th>';
      html += '<th>Gas Used</th>';
      html += '<th>Time</th>';
      html += '</tr>';
      html += '</thead>';
      html += '<tbody>';
      $.each(data, function(i, t) {
        html += '<tr>';
        html += '<td><a href="javascript:blockInfo(' + t.number + ');">' + t.number + '</a></td>';
        html += '<td>' + t.transactions.length + '</td>';
        html += '<td>' + t.gasUsed + '</td>';
        if(w > 1024) html += '<td>' + moment.unix(t.timestamp).format('MM/DD HH:mm:ss') + '</td>';
        else         html += '<td>' + moment.unix(t.timestamp).format('HH:mm:ss') + '</td>';
        html += '</tr>';
      });
      html += '</tbody>';
      html += '</table>';

      //////////////////////////////////////////////////////////////////////////////////////
      info.innerHTML = html;
      $('#block-table').DataTable({
        "pagingType": "numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "order": [[ 0, "desc" ]],
        "pageLength": 25
      });
    });
    //setTimeout(getRecentBlockTbl, 5000);
  }

  function getBlockTbl () {
    $.getJSON("/json-block/" + block, function(data) {
      console.log(data);
      blocks = data;
      var info  = document.getElementById("block-info");
      html = '<table id="block-table" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">';
      html += '<thead>';
      html += '<tr>';
      html += '<th>#BLK</th>';
      html += '<th>#TX</th>';
      html += '<th>Gas Used</th>';
      html += '<th>Time</th>';
      html += '</tr>';
      html += '</thead>';
      html += '<tbody>';
      $.each(data, function(i, t) {
        html += '<tr>';
        html += '<td><a href="javascript:blockInfo(' + t.number + ');">' + t.number + '</a></td>';
        html += '<td>' + t.transactions.length + '</td>';
        html += '<td>' + t.gasUsed + '</td>';
        html += '<td>' + moment.unix(t.timestamp).format("MM/DD HH:mm:ss") + '</td>';
        html += '</tr>';
      });
      html += '</tbody>';
      html += '</table>';
      info.innerHTML = html;

      $('#block-table').DataTable({
        "pagingType": "numbers", // "simple" option for 'Previous' and 'Next' buttons only
        "order": [[ 0, "desc" ]],
        "pageLength": 25
      });

      if(block != -1) {
        console.log('call blockInfo', block);
        blockInfo (block);
       if(index != -1) {
         transactionInfo (block, index);
       }
      }
    });
    //setTimeout(getBlockTbl, 5000);
  }

  ////////////////////////////////////////////////////////////////////////////////////////////
  if(block != -1) {
    getBlockTbl ();
  }
  else {
    getRecentBlockTbl ();
  }

});
</script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
<!-- end document-->

